<!DOCTYPE>
	<html>
		<head>
			<title></title>
		</head>
		<body style="background-image: url(aa.jpg); height: 50; width: 50; background-repeat; ">
		</html>
			<center><h1>Welcome To User Application</h1></center>
			<br>
			<center><h3><%= link_to 'User Login', users_login_path %></h3>
			</div>
			<br>
			<br>
			<br>
			<h3><%= link_to 'User Signup', users_signup_path %></h3>
		</div>
	</center>
</body>

